@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
Hello MVC! (View, @ViewBag.Agora)
<br />
<br />
@Html.ActionLink("Informações para contato", "Index", "Contato")
</div>
</body>
</html>
